body{
    margin:0px;
    padding:0;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-repeat:no-repeat;
    background-size:cover;
}

#choose{
    background-color: white;
    border-color: black;
    margin:10px auto;
    margin-bottom: 0px;
    width: 54%;
    padding-top: 5px;
    border:2px solid black;
}  
#selectors{
    margin:10px auto;
    width: 54%;
   /* padding-top: 5%;*/
    display: flex;
}  
#canvas{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:2px solid black;
    background-color:white;

}
#blank{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:200px;
}
#textBox {
    float: left;
    position: absolute;
    left:500px;
    font: 14px Arial;
    word-break: break-all;
    background-color: transparent;
    resize: none;
    z-index: -1;
}

.button{
    padding-top: 2px;
    margin-right:10px;
    margin-left:10px;
    display: inline-block;
}
.button2{
    padding-top: 5px;
    margin-right:10px;
    margin-left:5px;
    display: inline-block;
}
#fill{
    margin-left:12px;
}
.button:hover {
    background: #dddddd;
    color: #FFFFFF;
}	
.button2:hover {
    background: #dddddd;
    color: #FFFFFF;
}	
#imageUpload{
    display: none;
}